---
// JavaScript
import MainLayout from "../layouts/MainLayout.astro";
---


<!-- HTML -->
<MainLayout title="Página principal">
	<h1>Astro</h1>
</MainLayout>



<!-- CSS -->

<style>
  body {
    background: pink;
  }
</style>