<header>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <a href="/blog">Blog</a>
  </nav>
</header>


<!-- Estos estilos tienen un SCOPE LOCAL  -->
<style>
  header {
    background-color: indigo;
    padding: 1rem;
  }

  a {
    color: white;
    text-decoration: none;
  }
</style>