---
import { getCollection } from "astro:content"
import ProjectItem from "../components/ProjectItem.astro"
import Title from "../components/Title.astro"
import MainLayout from "../layout/MainLayout.astro";


//* Astro.glob es para cuando busco archivos que no son Collections
// const projects = await Astro.glob('../../content/projects/*.md');


//* Si lo que quiero es traerme archivos de colecciones, usamos getCollection()

const projectFiles = await getCollection('projects');

console.log(projectFiles)

// const projects = projectFiles.map(file => file.data);

---

<MainLayout miTitulo="Ivan Luengo - Proyectos">
	
	<div class="w-full bg-beige-dark ">

		<section class="w-3/4 max-w-5xl mx-auto my-12">

			<Title class="text-center no-underline font-dark" decoration="square">Proyectos</Title>
	
			<p class="mb-12">Párrafo. Haz clic aquí para agregar tu propio texto y editarlo. Es fácil. Haz clic en "Editar texto" o doble clic aquí para agregar tu contenido y cambiar la fuente. En este espacio puedes contar tu historia y permitir que los usuarios sepan más sobre ti.</p>

			<div class="flex flex-col gap-8">
 
				<!-- {
					projects.map(project => <ProjectItem project={project.frontmatter} />)
				} -->
				{
					projectFiles.map(project => <ProjectItem project={project.data} slug={project.slug} />)
				}
			
			</div>


		</section>





	</div>


</MainLayout>