.card {
  background-color: white;
  padding: 1rem; 
  text-align: center;
}

.title {
  color: crimson;

}

.card img {
  border-radius: 1rem;
}


/*

{
  card:soghldfgj ,
  title:dsfkghsfdg , 
  image:+gdfgsrtd
}






*/