---
import Menu from "./Menu.astro";
import ToggleMenu from "./ToggleMenu.astro";
---

<header class="bg-white shadow-md flex justify-between px-8 py-8">
  <div class="flex items-center gap-3 text-xl">
    <span class="inline-block w-4 h-4 bg-blue-700"></span>
    <span class="font-black">Ivan Luengo<span class="hidden lg:inline font-montserrat font-light"> / Formador Front-End</span></span>
    
  </div>

  <Menu />

  <ToggleMenu />
</header>